@inherits LayoutComponentBase

<MApp>
    <MAppBar App Fixed>
        <MAppBarNavIcon>
            <iframe frameborder="0" scrolling="no" src="./loading.html"
                width="100%" height="60px"></iframe>
        </MAppBarNavIcon>
        <MToolbarTitle>@SoBuggerConsts.AppName</MToolbarTitle>
        <div class="sb-menu">
            <MButton Text>@SoBuggerConsts.MenuMap.Project</MButton>
            <MButton Text>@SoBuggerConsts.MenuMap.Bug</MButton>
            <MButton Text>@SoBuggerConsts.MenuMap.Statistics</MButton>
            |
            <MButton Text>@SoBuggerConsts.MenuMap.Todo</MButton>
        </div>
        <MSpacer></MSpacer>
        <MButton class="mx-2" Fab Color="primary" Target="_blank" Dark Small
            Href="https://docs.masastack.com/blazor/introduction/why-masa-blazor">
            <MIcon>
                mdi-github
            </MIcon>
        </MButton>
    </MAppBar>

    <MMain>
        <MContainer Fluid>
            <MErrorHandler>
                @Body
            </MErrorHandler>
        </MContainer>
    </MMain>
</MApp>

<style>
    .sb-menu {
        position: absolute;
        width: 100%;
        text-align: center;
    }
</style>

@code {

    private bool? _drawer;

}
